.red-box {
    background-color: red;
    padding: 10px;
    color: white;
    border: 1px solid #cfcfcf;
}

.yellow-box {
    background-color: yellow;
    padding: 10px;
    border: 1px solid #cfcfcf;
}