<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="red-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="yellow-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="yellow-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
    </div>
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start start">
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="red-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="yellow-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="start start" class="yellow-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium minima cum?
        </div>
    </div>
</div>